<div class="ui container">
  <form class="ui form">
    <div class="field">
      <label>Name</label>
      {{input placeholder="Customer Name"}}
    </div>
    <div class="two fields">
      <div class="field">
        <label>Amount</label>
        $0.00
      </div>
      <div class="field">
        <label>Required Deposit</label>
        {{input placeholder="0.00"}}
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Deliver/PIckup</label>
        <select class="ui dropdown">
          <option>Unknown</option>
          <option>Delivery</option>
          <option>Pickup</option>
        </select>
      </div>
      <div class="field">
        <label>Due</label>
        {{input type="date" placeholder="0.00"}}
      </div>
    </div>
    <div class="field">
      <label>Notes</label>
      {{textarea}}
    </div>
    <div class="four fields">
        <div class="field">
          {{input placeholder="8in/1 dozen"}}
        </div>
        <div class="field">
          {{input placeholder="Flavor"}}
        </div>
        <div class="field">
          {{input placeholder="Cake"}}
        </div>
        <div class="field">
          <button class="ui button">Remove</button>
        </div>
    </div>
  </form>
  {{outlet}}
</div>
