<p>
Welcome back {{model.first_name}} {{model.last_name}}

<a href="{{model.link}}" target="_blank">View Facebook Profile</a>
{{log "Index Model" model}}
{{outlet}}
</p>

<p>
View Pages
</p>

<ul>
  {{#each model.pages as |page|}}
  <li>{{page}}</li>
  {{/each}}
</ul>
