{{error}}
{{log "SessionPOOP" (get session 'currentUser')}}

{{#if session.isAuthenticated}}
  You are currently signed in
{{else}}
  You are not signed in
  <button class="ui button" {{action (route-action "facebookSignIn")}}>Connect</button>
{{/if}}
{{outlet}}
